/* VARIABILI CSS */
:root {
    --bg-body: #aaffc7;
    --bg-timer: #67c090;
    --text-timer: #983f6f;
    --text-button: #d4d4d4;
    --button-play: #34ef23;
    --button-pause: #cb2957;
    --button-reset: #8d30f8;
    --button-plus: #124170;
    --text-plus: #edbe8f;
    --button-minus: #215b63;
    --text-minus: #dea49c;

}

/* TAG ELEMENT */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-body);
    color: var(--text-timer);
}

/* stile dei bottoni */
button {
    border: none;
    outline: none;
    padding: 5px;
}

/* ID */
/* stile dei numeri visibili del timer che si dovrà muovere */
#timer {
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--text-timer);
}

/* stile del container */
#container {
    display: grid;
    place-items: center;
    gap: 15px;
    background: var(--bg-timer);
    padding: 20px;
    border-radius: 15px;
}

/* CLASS */
/* stile dei container delle impostazioni di modifica del timer */
.set-pomodoro,
.set-short-pause,
.set-long-pause {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin: 10px;
    cursor: pointer;
}

/* stile del testo tra i bottoni */
.set-number {
    flex: 1;
    font-size: 1.5rem;
    font-weight: 500;
}

/* stile dei bottoni plus e minus */
.plus,
.minus {
    width: 50px;
    border-radius: 15px;
}

.plus {
    background: var(--button-plus);
}

.minus {
    background: var(--button-minus);
}

.plus i,
.minus i {
    font-size: 1.3rem;
}

.plus i {
    color: var(--text-plus);
}

.minus i {
    color: var(--text-minus);
}